input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 14px;
  background: linear-gradient(to bottom, rgb(117, 117, 235), rgba(177, 176, 176, 0.589));

}

.container{
  background-color: rgb(99, 99, 245);
  color: white;
  padding: 18px 18px;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0px 0px 10px white;
}

.container h1{
  text-align: center;
  font-size: 42px;
}

.hr{
  margin-block: 18px;
}

.filds{
  display: flex;
  flex-direction: column;
}

.filds{
  font-size: 20px;
}

textarea{
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  border: none;
  outline: none;
}

textarea::placeholder{
  opacity: 0.7;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.filds input{
  outline: none;
  border: none;
  height: 30px;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 6px;
  color: rgba(255, 255, 255, 0.733);
}

.filds input::placeholder{
  opacity: 0.7;
}

.submit{
  height: 35px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  outline: none;
  padding-block: 8px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  border: 1px solid white;
  color: rgb(99, 99, 245);
  cursor: pointer;
  transition: all 0.3;
}

.submit:hover{
  background-color: rgb(99, 99, 245);
  color: white;
}

.submit:active{
  transform: scale(0.7);
}

.successBox{
  position: relative;
  background-color: rgb(99, 99, 245);
  backdrop-filter: blur(10px);
  padding: 12px;
  border-radius: 8px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  max-width: 500px;
}

.successBox h2{
  margin-top: 18px;
}

.successBox h2 span{
  color: rgb(28, 187, 28);
}

.successImg{
  max-width: 100px;
}

.successImg img{
  width: 100%;
  border-radius: 50%;
}

.successBox input{
  border: 1px solid rgba(255, 255, 255, 0.616);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: rgb(99, 99, 245);
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 18px;
  transition: all 0.2s;
}

.successBox input:hover{
  background-color: rgb(99, 99, 245);
  color: white;
}

.successBox input:active{
  transform: scale(0.4);
}

.err{
  font-size: 15px;
  color: rgb(255 116 116);
}

.btns{
  display: flex;
  gap: 12px;
}

.btns input{
  flex-grow: 1;
}